body	{
	margin:0px;
	padding:0px;
	background-color: #FFF;
	background-repeat: repeat-x;
		}
td		{
		font-family:tahoma;
		color:#333333;		
		font-size:12px;
		line-height:14px;
		}
#form strong{
		font-size:9px;
		}
#form textarea{
		width:163px;
		height:130px;
		font-family:tahoma;
		font-size:11px;
		color:#646363;
		border-style:none;
		margin:1 0 0 9px;
		overflow:auto
		}
#form input{
		width:163px;
		height:15px;
		font-family:tahoma;
		font-size:11px;
		color:#646363;
		border-style:none;
		margin:1 0 0 9px;
		}
select	{
		font-family:tahoma;
		font-size:9px;
		color:#727272;
		}

.header {
		color:#FFFFFF;
}

.header  a{
		text-decoration:none;
		font-weight:bold; 
		color:#FFFFFF;
}

.header  a:hover{
	text-decoration:underline;
	font-weight:bold;
	color:#CB0D27;
}
		
.nav {
	background-color: #DFDDB5;
	background-image: url(images/nav_background.jpg);
	text-align:center; 
	margin:0px 0px 0px 0px; 
	padding:7px 0px 0px 0px; height:21px;
	width:825px;
}

.nav a{
	text-decoration:none;
	color:#333333;
	font-size:11px;
	font-weight:bold;
}

.nav a:hover{
	text-decoration:underline;	
	color:#333333;
}

.nav-line {
	margin:0px 10px 0px 10px;
	color:#FFFFFF;
	font-weight:bold;
}

a		{
		color:#003399;
		text-decoration:underline;
		}
a:hover	{
		text-decoration:none;
		}		
.priv 	{
		color:#B5B5B5;
		font-size:9px;
		margin:43 0 0 0px
		}
.priv a	{
		color:#6C6C6C;
		text-decoration:none;
		font-size:11px;
		}
.more	{
		color:#919191;
		font-size:9px;
		}
.t1		{
		width:46px; 
		height:16px; 
		background:#49971A;
		color:#E9F2E3;
		font-size:9px;
		}
.ct1 	{
		font-weight:bold; 
		color:#FAFAFA; 
		font-size:9px;
		}
.ct2 a	{
		color:#003399;
		font-weight:bold;
		text-decoration:underline;
		font-size:9px;
		}

.caption-box-header { 
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	color:#5C86A4;
	margin:25px 20px 0px 0px;
	width:225px; 	 
	text-align:left;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 0px;
	border-style: dotted;
	border-color:#666666;
	background-image: url(images/caption_header_background.jpg);	
	padding:7px 10px 7px 15px;
	
}

.caption-box-header2 { 
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	color:#5C86A4;
	margin:0px 0px 0px 0px; 
	text-align:left;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color:#CCCCCC;
	background-image: url(images/caption_header_background.jpg);	
	padding:7px 10px 7px 10px;
	
}

		
.caption-box {
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border: 1px;
	border-style: dotted;
	border-color:#999999;
	background-image: url(images/caption_background.gif);	
	padding:5px 10px 10px 15px;
	width:225px; 	 
	text-align:left;
	margin:0px 20px 0px 0px;
	line-height:17px;
}



.li-1 {
	height:16px;
	background:url(images/list_arrow.gif) no-repeat;		
	padding-left:10px;
	padding-bottom:5px;
}

.li-2 {
	height:16px;
	background:url(images/list_arrow.gif) no-repeat;		
	padding-left:10px;
	padding-bottom:2px;
}

.separator-bottom-border-dots {
	border-bottom: 1px;
	border-color:#B2B2B2;
	border-bottom-style: dotted;
}

.separator-right-border-dots {
	border-right: 1px;
	border-color:#B2B2B2;
	border-right-style: dotted;
}

.copy	{
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	font-size:12px;
	font-family:arial;
}

.copybold	{
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	font-family:arial;
}

.copysmall	{
	color:#333333;
	font-weight:normal;
	text-decoration:none;
	font-size:10px;
	font-family:arial;
}

.label	{
	color:#666666;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}

.copy-error	{
	color:#C00;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}


.copy-on	{
	/*color:#3C0;*/
	color:#F47929;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
.copy-off	{
	color:#CCC;
	text-decoration:none;
	font-size:12px;
}

.header-copy {
	font-weight:bold;
	color:#828282;
	font-size:13px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.header-copy2 {
	font-weight:bold;
	color:#666666;
	font-size:14px;
}

.header-subheading	{ 
	font-weight:bold;
	font-size:15px;
	color:#666666;
}

.header-subheading2	{ 
	font-weight:bold;
	font-size:13px;
	color:#6A734D;
	/*text-transform: uppercase;*/
}



.message	{ 
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	color:#660000;
	/*text-transform: uppercase;*/
}


.textbox {
	background-color: #FFFFFF;
	border: 0;
	width: 120px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

.textbox-long {
	background-color: #FFFFFF;
	border: 0;
	width: 175px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}


.textbox-longer {
	background-color: #FFFFFF;
	border: 0;
	width: 250px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}


.textbox-file-long {
	background-color: #FFFFFF;
	width: 300px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
}

.textbox-long-readonly {
	background-color: #F5F5F5;
	border: 0;
	width: 175px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

.textbox-longer-readonly {
	background-color: #F5F5F5;
	border: 0;
	width: 225px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

.textbox-longest {
	background-color: #FFFFFF;
	border: 0;
	width: 300px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}


.textbox-longest2 {
	background-color: #FFFFFF;
	border: 0;
	width: 400px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}


.textbox-number {
	background-color: #FFFFFF;
	border: 0;
	width: 80px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

.textbox-number-readonly {
	background-color: #F5F5F5;
	border: 0;
	width: 80px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

.textbox-percentage-readonly {
	background-color: #F5F5F5;
	border: 0;
	width: 40px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}

.textbox-id-readonly {
	background-color: #F5F5F5;
	border: 0;
	width: 30px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}


.textbox-4digit {
	background-color: #FFFFFF;
	border: 0;
	width: 40px;
	color:#333333;
	font-weight:normal;
	font-family:tahoma;
	font-size:11px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
}


TR.odd TD {
	background-color: #EEEEEE;
}


.tablemain {
	background-color: #F9F9F9;
	background-image:url(images/background_body.jpg);
	border: 1px solid #CCCCCC;
	width:775px;
}


.tablebody {
	/*background-image: url(images/background_body.gif);*/
	background-repeat: no-repeat;
	background-color: #EBEBEB;
	text-align:left;
}

.tablemainsub-allborders {
	background-color: #F9F9F9;
	border: 1px solid #E1E1E1;
}


.table-topborder {
	border-top: 1px solid #E1E1E1;
}

.table-bottomborder {
	border-bottom: 1px solid #E1E1E1;
}


.tableheadersub {
	color:#333333;
	font-weight:bold;
	font-family:tahoma;
	font-size:12px;
	background-color: #CCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.image_with_text_right {
	float: left; 
	margin: 0px 20px 10px 3px;
}

.image_with_text_left {
	float: right; 
	margin: 0px 5px 10px 20px;
}
