#list_devices
{
	padding : 0 ;
}


#list_devices li
{
	border-bottom: black solid 1px;
	border-radius: 0px 0px 10px 10px;
	list-style: none;
	line-height: 100%;
	font-size: 25px;
	padding: 10px 0px 10px 20px;
}

#list_devices li:hover
{
	background: #ececec;
}

#list_devices li[selected="selected"]
{
	background: #ABC4FF;
}

.device_odd 
{
	background: #f7f7f7;
}

#action_bar
{
	text-align: center;
}

#action_bar button
{
	font-size: 20px;
	margin: 6px 50px 20px 50px;
}

#manual_settings_dialog
{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 40%;
	margin-top: 0%;
	margin-left: -20%;
	background-color: #FFFFFF;
	z-index: 99;
}

#manual_settings_dialog_background
{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.45);
	z-index: 98;
	top:0;
	left:0;
}


